.heading{
	width: 100%;
	min-height: 5%;
	height: auto;
	padding: 0px 20px 0px 20px;
	position: relative;
}

h1{
	color: #ffffff;
	float: left;
}

button{
	float: right;
	margin: 11px 15px 0px 0px;
}
