<div class="template">
    <div class="wrappers" *ngFor="let d of data.assignments | keys; let i = index">

      <div class="heading" *ngIf="i==value">
      <!--	<h1>{{ d.value.course_title }}</h1> -->
      	<button class="circle">P</button>
      	<button class="circle">R</button>
      	<button class="circle" (click)="help()">H</button>
      	<div class="clear"></div> <!--clear floats-->
      </div>


        <!-- previous and next buttons -->
        <button id="next" (click)="next(value)" *ngIf="value<i"></button>
        <button id="prev" (click)="prev(value)" *ngIf="value>i"></button>
        <!-- title and subtitle with symbol -->
        <div id="titleArea" *ngIf="i==value">
            <div class="symbol"> {{ d.value.symbol }} </div>
            <h1 class="sub" *ngIf="i!=1">{{ d.value.title }}</h1>
            <!--show if short text -->
            <h1 class="subForLarge" *ngIf="i==1">{{ d.value.title }}</h1>
            <!--show if long text -->
            <div class="clear"></div>
            <!--clear floats-->
        </div>
        <div class="workArea" *ngIf="i==value">
            <h3 *ngIf="i==0"> {{ d.value.sub_title }}</h3>
            <div class="box">
                <!-- only shown in the intstructions page -->
                <div class="intro" *ngIf="i==0">
                    <b>Instructions:</b>
                    <p>{{ d.value.instructions }}</p>
                </div>
                <!-- show this only when clicking assignments one -->
                <div class="oneTasks" *ngIf="d.value.type=='one'">
                    <h2 class="titles">Assignment Information</h2>
                    <p> {{ d.value.instructions }} </p>
                    <hr />
                    <!-- <img [src]="imageSrc(d.value.due_date)" class="resize" />
                    <img [src]="imageSrc(d.value.percentage)" class="resize" /> -->
                    <!-- show all the tasks in a list -->
                    <div *ngFor="let t of d.value.tasks | keys; let x = index">
                        <h2 class="titles">{{ t.value.name }}</h2>
                        <p>{{ t.value.information }}</p>
                    </div>
                </div>
                <!-- show this only when clicking assignments two -->
                <div class="twoTasks" *ngIf="d.value.type=='two'">
                    <h2 class="titles">Assignment Information</h2>
                    <p> {{ d.value.instructions }} </p>
                    <hr />
                    <!-- <img [src]="imageSrc(d.value.due_date)" class="resize" />
                    <img [src]="imageSrc(d.value.percentage)" class="resize" /> -->
                    <div *ngFor="let t of d.value.tasks | keys; let x = index" class="options">
                        <h2 class="titles">{{ t.value.name }}</h2>
                        <p>{{ t.value.information }}</p>
                        <button class="select" (click)="select=!select" [ngClass]="{'yes': !select, 'no': select}"><i class="fa fa-times"></i> Select</button>
                    </div>
                    <div class="clear"></div>
                    <!-- clear floats -->
                </div>
            </div>
        </div>
        <div class="tooltip" *ngIf="i==value" [ngStyle]="{'left': d.value.tooltip.left+'px'}">
            <i class="fa fa-book"></i> Assignment: {{ d.value.symbol}}
        </div>
        <div class="tooltip" *ngIf="i==0 && value==0" [ngStyle]="{'left': d.value.tooltip.left+'px'}">
          <i class="fa fa-book"></i>  Instructions
        </div>
        <button class="numButtons circle" id={{i}} on-mouseover="d.value.show = !d.value.show;" on-mouseleave="d.value.show = !d.value.show;" (click)="goTo(i)" [ngStyle]="{'position': 'absolute', 'top': '787px', 'left': d.value.buttonPos.left+'px'}" [ngClass]="{'highlight': i==value}">
            {{ d.value.symbol }}
        </button>
    </div>
    <div class="navArea">
        <div id="line"></div>
    </div>
