#titleArea {
    width: 100%;
    min-height: 50px;
    padding: 15px 20px 5px 20px;
    height: 85px;
    position: relative;
}

.symbol,
hl {
    float: left;
    margin-right: 30px;
}

.subForLarge {
    font-size: 180%;
    margin-top: 20px;
}

.sub {
    font-size: 200%;
    margin-top: 12px;
}

.workArea {
    width: 100%;
    padding: 5px 20px 5px 20px;
    background: url(assets/images/background.jpg) no-repeat center center;
    background-size: cover;
    // min-heigth: 200px;
    min-height: 600px;
    height: auto;
    position: relative;
}

h3 {
    color: #fff;
    font-size: 2.5em;
    margin-left: 100px;
}

p,
b {
    font-family: sans-serif;
}

.navArea {
    position: relative;
    height: 40px;
    padding: 20px;
}

.numButtons {
    float: left;
    margin-right: 5%;
    z-index: 1000;
    position: relative;
    top: 15px;
    left: 20px;
}

.resize {
    width: 15%;
}

#line {
    width: 97%;
    margin: 18px 0px 0px 5px;
    height: 1px;
}

.twoTasks {
    width: 100%;
}

.options {
    float: left;
    width: 47%;
    // background: #F2F2F2;
    padding: 10px;
}

#next {
    position: absolute;
    top: 450px;
    left: 983px;
    width: 50px;
    height: 50px;
    z-index: 43000;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    background: none;
}

#prev {
    position: absolute;
    top: 450px;
    left: -50px;
    width: 50px;
    height: 50px;
    z-index: 43000;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    background: none;
}

button{
	float: right;
	margin: 7px 15px 0px 0px;
}

.heading{
	width: 100%;
	min-height: 5%;
	height: auto;
	padding: 0px 20px 0px 20px;
	position: relative;
}

.print{
  width: 100%;
  height: 300px;
  position: absolute;
  top: 100px;
}

.contentAreaPrint{
  width: 100%;
  height: auto;
  position: relative;
}
