#titleArea {
    width: 100%;
    min-height: 50px;
    padding: 15px 20px 5px 20px;
    height: 85px;
    position: relative;
}

.symbol,
hl {
    float: left;
    margin-right: 30px;
}

.subForLarge {
    font-size: 180%;
    margin-top: 20px;
}

.sub {
    font-size: 200%;
    margin-top: 12px;
}

.workArea {
    width: 100%;
    padding: 5px 20px 5px 20px;
    background: url(assets/images/background.jpg) no-repeat center center;
    background-size: cover;
    // min-heigth: 200px;
    min-height: 600px;
    height: auto;
    position: relative;
}

h3 {
    color: #fff;
    font-size: 2.5em;
    margin-left: 100px;
}

p,
b {
    font-family: sans-serif;
}

.navArea {
    position: relative;
    height: 40px;
    padding: 20px;
}

.numButtons {
    float: left;
    margin-right: 5%;
    z-index: 1000;
    position: relative;
    top: 15px;
    left: 20px;
}

.resize {
    width: 7%;
    float: left;
}

#line {
    width: 97%;
    margin: 18px 0px 0px 5px;
    height: 1px;
}

.lines{
  height: 97%;
  width: 1px;
  position: absolute;
  margin: 60px 0px 0px 25px;
  z-index: 0;
}

.twoTasks {
    width: 100%;
}

.options {
    float: left;
    width: 47%;
    // background: #F2F2F2;
    padding: 10px;
}

#next {
    position: absolute;
    top: 450px;
    left: 983px;
    width: 50px;
    height: 50px;
    z-index: 43000;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    background: none;
}

#prev {
    position: absolute;
    top: 450px;
    left: -50px;
    width: 50px;
    height: 50px;
    z-index: 43000;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    background: none;
}

button{
	float: right;
	margin: 7px 15px 0px 0px;
}

.heading{
	width: 100%;
	min-height: 5%;
	height: auto;
	padding: 0px 20px 0px 20px;
	position: relative;
}

.contentAreaPrint{
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 4000;
}

// ONLY FOR SPECIAL CUSTOM ICONS
$imageTop: 136px; // top pos
$imageWidth: 8%; // image width
$taskA_left: 268px; // first group A pos
$taskB_left: 701px; // second group B pos
$space: 68; // space between images

// DEFAULT ICONS Settings
$mainTopA: -30px; // main top for default 1 icon
$mainTopB: -25px; // main top for default 1 icon
$mainLeft: 700px; // default pos left for default icon 1
$mainWidth: 10%; // default width
$mainSpace: 90; // space between images
// these are the default icons
.taskImage1{
  position: absolute;
  top: $mainTopA;
  left: $mainLeft;
  width: $mainWidth;
  height: auto;
}

.taskImage2{
  position: absolute;
  top: $mainTopB;
  left: $mainLeft + $mainSpace;
  width: $mainWidth;
  height: auto;
}

// Special icons for custom
.taskImage1A{
  position: absolute;
  top: $imageTop;
  left: $taskA_left;
  width: $imageWidth;
  height: auto;
}

.taskImage2A{
  position: absolute;
  top: $imageTop;
  left: $taskA_left + $space;
  width: $imageWidth;
  height: auto;
}

.taskImage3B{
  position: absolute;
  top: $imageTop;
  left: $taskB_left;
  width: $imageWidth;
  height: auto;
}

.taskImage4B{
  position: absolute;
  top: $imageTop;
  left: $taskB_left + $space;
  width: $imageWidth;
  height: auto;
}

.floatingTasks div{
  float: left;
  width: 49%;
}

#hidePrint{
  position: absolute;
  top: 0px;
  right: 0px;
}

#addCalendar{
  position: absolute;
  top: 85px;
  right: 0px;
}

.outputs{
  width: 85%;
  float: left;
  margin-left: 80px;
  margin-top: -20px;
}

.verticalPath{
  position: absolute;
  float: left;
  width: 40px;
  height: auto;
}

.vertCircles{
  position: absolute;
}

.helpImage{
  position: absolute;
  z-index: 1232323232323;
}

.helpImage img{
 height: 100%;
 cursor: pointer;
}


.hide{
  display: none;
}

.show{
  display: block;
}

.size{
  width: 20%;
}

.ae, .be{
  width: 47%;
  float: left;
  padding: 5px;
}

.aed, .bed{
  width: 100%;
  float: left;
  padding: 5px;
}

.pics{
  width:100%;
  float: left;
}
