$background: red;

h1{
	color: $background;
}

.print{
  width: 79%;
  margin: 0 auto;
  height: 300px;
  overflow-y: scroll;
  padding: 20px;
  position: absolute;
  top: 350px;
  left: 110px;
  z-index: 123000;
}
