$background: red;

h1{
	color: $background;
}

.print{
	height: 350px;
	overflow-y: auto;
/*  width: 79%;
  margin: 0 auto;
  height: 528px;
  overflow-y: scroll;
  padding: 20px;
  position: absolute;
  top: 190px;
  left: 107px;
  z-index: 123000; */
}

.workArea {
  //  width: 100%;
//    padding: 5px 20px 5px 20px;
    background: url(assets/images/background.jpg) no-repeat center center;
    background-size: cover;
    // min-heigth: 200px;
    min-height: 600px;
    height: auto;
  //  position: relative;
}

h3 {
    color: #fff;
    font-size: 2.5em;
    margin-left: 100px;
}

.imageSize{
	width: 75%;
	height: auto;
	position: absolute;
	top: -40px;
}
