$background: red;

h1{
	color: $background;
}

.print{
  width: 79%;
  margin: 0 auto;
  height: 528px;
  overflow-y: scroll;
  padding: 20px;
  position: absolute;
  top: 190px;
  left: 107px;
  z-index: 123000;
}
