<!-- main app component -->
<div class="container">
	<div class="row">
	<!-- top menu -->
	<div class="container">
		<div class="row">
			<app-menu [data]="data" [courseName]="data.course_title"></app-menu>
		</div>
	</div>

	<!-- heading with symbol and title -->
	<div class="titleArea container">
		<div class="row">
			<div class="col-md-12 col-lg-12 topHeadingArea">
				<app-heading [data]="data" [assignments]="assignments" [value]="value"></app-heading>
			</div>
		</div>
	</div>

	<!-- previous button -->
	<app-previous></app-previous>

	<!-- next button -->
	<app-next></app-next>

	<!--error message-->
	<app-error [data]="data" [assignments]="assignments" [amount]="amount"></app-error>
<!--	<app-title [data]="data" [assignments]="assignments" [amount]="amount"></app-title>-->
	<!-- save button -->

	<!-- when print is saved -->
		<app-saved [data]="data" [assignments]="assignments" [amount]="amount" [alert]="alert"></app-saved>

	<!-- the tasks  and instructions Area -->
	<div class="workArea container">
		<!-- title of the interactive -->
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<h3 class="animated fadeIn activityTitle" *ngIf="data.value==0"> {{ data.activity }} </h3>
			</div>
			<!-- added to center div-->
			<div class="col-md-1 col-lg-1"></div>
			<div class="animated fadeIn box col-md-10 col-lg-10">
				<!--instructions -->
						<app-instructions *ngIf="data.value==0" [data]="data" [instructions]="instructions"></app-instructions>
					<!-- assignment information -->
						<app-information *ngIf="data.value>0 && data.value < amount-1" [data]="data" [assignments]="assignments"></app-information>
					<!-- one task -->
						<app-one-task [data]="data" *ngIf="data.value>0" [assignments]="assignments"></app-one-task>
					<!-- two tasks -->
						<app-two-tasks [data]="data" *ngIf="data.value>0" [assignments]="assignments"></app-two-tasks>

						<!-- print area -->
						<div class="printArea" *ngIf="data.print==true">
							<div class="col-md-9 col-lg-9"><h2 class="titles">Review Information</h2></div>
							<div class="col-md-3 col-lg-3"><app-download [data]="data" [assignments]="assignments" [amount]="amount" [alert]="alert"></app-download></div>
							<div class="col-md-12 col-lg-12"><p> {{ data.review_instructions }} </p></div>
							<hr/>
							<ul class="print">
								<app-print [data]="data" [assignments]="assignments" [amount]="amount"></app-print>
							</ul>
						</div>
			</div>
		</div>
</div>

	<!-- bottom nav bar and tooltips -->
<div class="container">
	<div class="row">
		<div class="col-md-12 col-lg-12 navArea">
			<app-nav [d]="d" [data]="data" [assignments]="assignments" [amount]="amount" [value]="value" (valueChanged)="value = $event"></app-nav>
		</div>
	</div>
</div>

	</div>
</div><!-- end main component -->
