<li *ngFor="let d of assignments | keys; let i = index">
      <h2 class="printTitle" *ngIf="i>0 && i<8"><button class="smallcircle">{{ d.value.symbol }}</button>  {{ d.value.title }}</h2>
      <div class="one" *ngIf="d.value.type=='one'">
        <p class="text"> {{ d.value.taskA.information }}</p>
      </div>
      <div class="two" *ngIf="d.value.type=='two'">
        <p class="text" *ngIf="d.value.taskA.selectA==true">Task A: {{ d.value.taskA.information }}</p>
        <p class="text" *ngIf="d.value.taskB.selectB==true">Task B: {{ d.value.taskB.information }}</p>
      <!--  <p class="text" *ngIf="d.value.taskA.selectA==false && d.value.taskB.selectB==false">Please select an assignment.</p>-->
      </div>
      <div class="custom" *ngIf="d.value.type=='custom'">
        <p class="text" *ngIf="d.value.taskA.selectA==true">Task A: {{ d.value.taskA.information }}</p>
        <p class="text" *ngIf="d.value.taskB.selectB==true">Task B: {{ d.value.taskB.information }}</p>
      </div>
    </li>
