/* You can add global styles to this file, and also import other style files */
/* styles that affect global*/

/* Global color styles*/
$background: #F2F2F2; // background gray
// Colors for app
$red: #F04C4B; // mostly for buttons
$blue: #607D8B; // mostly for divs
$green: #9FBA91; // mostly for navigation and text
$darkBlue: #4A626B; // mostly if blue is already used
$text: #4D4D4D; // used for copy text
$subHeading: #595959; // used for subheadings
$white: #ffffff; //white
$black: #000000; //black

body{
	background: $background;
	padding: 0;
	margin: 0;
}

//fonts defaults
@font-face{
	src: url(./assets/fonts/AlfaSlabOne-Regular.ttf);
	font-family: Headings;
}

@font-face{
	src: url(./assets/fonts/JosefinSlab-Regular.ttf);
	font-family: subHeadings;
}

// get the titles specs (font name, size, font color, letter spacing)
@mixin titles($font, $size, $color, $letterSpacing){
	font-family: $font;
	font-size: $size;
	color: $color;
	letter-spacing: $letterSpacing;
}

// buttons styles
@mixin buttonStyles($w, $h, $color, $radius, $border, $font){
	width: $w;
	height: $h;
	background: $color;
	border-radius: $radius;
	border: 1px solid $border;
	font-family: $font;
	font-size: 1.7em;
	color: $white;
}

// large main titles
h1{
	@include titles(Headings, 1.5em, $blue, 2px);
}

// large main titles
h3{
	@include titles(subHeadings, 1.4em, $subHeading, 0px);
}

// copy text
p{
	@include titles(sans-serif, 0.9em, $text, 0px);
}

// circle navigation buttons
.circle{
	@include buttonStyles(50px, 50px, $green, 100px, $green, subHeadings);
	cursor: pointer;
	text-align: center;
}

.circle:hover{
	background: $red;
	border: 1px solid $red;
}

// circle symbol
.symbol{
	@include buttonStyles(45px, 45px, $red, 100px, $red, subHeadings);
	padding: 15px;
	font-size: 3.3em;
	text-align: center;
}

// regular sized buttons
.normal{
	@include buttonStyles(10%, 55%, $darkBlue, 10px, $darkBlue, subHeadings);
	padding: 15px;
	cursor: pointer;
	text-align: center;
}

.normal:hover{
	background: $blue;
	border: 1px solid $blue;
}

// our main wrapper
#container{
	width: 1024px;
	min-height: 100px;
	height: auto;
	margin: 0 auto;
	position: relative;
}

.heading{
	background: $blue !important;
}

// clear both
.clear{
	clear: both;
}

// title Area from nav component
#titleArea{
	background: $white;
}

// title of assignment
.sub{
	font-size: 2.2;
}

// info box
.box{
	background: $white;
	width: 80%;
	min-height: 100px;
	height: auto;
	margin: 15px auto;
	position: relative;
	padding: 15px;
	// box-shadow: 3px 3px 5px #333333;
}

.navArea{
	background: $blue;
	width: 1024px;
}

.tooltip{
	width: 13%;
	height: 25px;
	position: absolute;
	top: 750px;
	background: $white;
	padding: 5px;
	font-family: sans-serif;
	text-align: center;
	box-shadow: 3px 3px 4px #333333;
	z-index: 4000;

}

.tooltip:after {
	content: '';
	display: block;
	position: absolute;
	left: 43%;
	top: 100%;
	width: 0;
	height: 0;
	border-top: 15px solid $white;
	border-right: 10px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 10px solid transparent;
}

.titles{
	font-family: subHeadings;
	font-weight: bold;
	color: $darkBlue;
}

.highlight{
	background: $red;
	border: 1px solid $red;
}

#line{
	border-bottom: 1px solid $white;
}

.select{
	background: $darkBlue;
	color: $white;
	font-family: subHeadings;
	font-size: 1.5em;
	width: 45%;
	height: 20%;
	text-align: center;
	border: none;
	padding: 15px;
	cursor: pointer;
}

.select:hover{
//	background: $blue;
}

hr{
	color: $blue;
	opacity: 0.4;
}

#prev{
	border-right: 60px solid $red;
	border-left: 60px solid transparent;
	cursor: pointer;
}

#next{
	border-left: 60px solid $red;
	border-right: 60px solid transparent;
	cursor: pointer;
}

#prev:hover{
	border-right: 60px solid $blue;
	border-left: 60px solid transparent;
	border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

#next:hover{
	border-left: 60px solid $blue;
	border-right: 60px solid transparent;
	border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.yes{
	background: $green;
}

.no{
	background: $red;
}
